<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Expenditures</strong>
        </c-card-header>
        <c-card-body>
            <p class="text-medium-emphasis small">
                <button cButton color="primary" [routerLink]="['/addExpenditure']">Add</button>
            </p>
            <p class="select-buttons">
                <c-form-check [switch]="true">
                    <input cFormCheckInput type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()" />
                    <label cFormCheckLabel>Select All</label>
                </c-form-check>
            </p>
            <table class="table table-striped">
            <thead ng-reflect-color="light">
                <tr>
                    <th scope="col">Sr#</th>
                    <th></th>
                    <th scope="col">Title</th>
                    <th scope="col">Details</th>
                    <th scope="col">Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let ex of allExp | paginate: {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                }; let indexOfExpenditures = index" scope="row">
                    <th scope="row">{{indexOfExpenditures+1}}</th>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="ex.selected" (change)="toggleCheckBox()">
                    </td>
                    <td>{{ex.expenditure_title}}</td>
                    <td>{{ex.expenditure_details}}</td>
                    <td>{{ex.expenditure_type}}</td>
                    <td>{{ex.expenditure_amount}}</td>
                    <td>{{ex.expenditure_date}}</td>
                    <td><button cButton color="primary" variant="outline" [routerLink]="['/updateExpenditure']" (click)="editExpenditure(ex)">Edit</button></td>
                    <td *ngIf="ex.expenditure_status == 'Y'; else elseBlock2">
                        <button cButton color="success" (click)="updateExpenditureStatus(ex, true, '')">Status</button>
                    </td>
                    <ng-template #elseBlock2>
                        <td><button cButton color="danger" (click)="updateExpenditureStatus(ex, true, '')">Status</button></td>
                    </ng-template>
                </tr>
            </tbody>
            </table>
        </c-card-body>
        <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </c-card>
    </c-col>
    <c-col>
        <button cButton color="success" (click)="markActive()">Mark As Active</button>
        <button cButton color="danger" (click)="markInActive()">Mark As Inactive</button>
    </c-col>
</c-row>