<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col lg="7" md="9" xl="6">
          <c-card class="mx-4">
            <c-card-body class="p-4">
              <form cForm [formGroup]="ChangePassword" (ngSubmit)="changePassword()">
                <h1>Change Password</h1>
                <p class="text-medium-emphasis">Change Password</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input autoComplete="name" cFormControl placeholder="Old Password" formControlName="old_password"/>
                </c-input-group>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input autoComplete="username" cFormControl formControlName="new_password" placeholder="New Password"/>
                </c-input-group>
                <div class="d-grid">
                  <button cButton color="success" type="submit">Save Changes</button>
                </div>
              </form>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-container>
  </div>
  
